<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>What are we learning about today?</title>

<style>
h1{color: #006699}
h3{color: #0099e6}
h4{color: #006969}

.content {
  max-width: 500px;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

</style>

  </head>
  <body>



    <h1 style="text-align:center;">Science Article Summarizer</h1>

    <h4 style="text-align:center;">Life's busy, and important strides in science are happening daily. Let's distill the results into bite-sized chonks.</h4>

<img src="{{url_for('static', filename='science_dog.jpg')}}" frameBorder="0" class="center"/>

    <h3 style="text-align:center;">Search terms:</h3>

    <form method="POST" style="text-align:center;">
                    <select name="amt" id="amt">
                        <option select="selected" value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                    </select>
                    <input type="text" name="query" width="800"><br>
                    <input type="submit" value="Fetch"><br>
    </form>


  </body>
</html>
